.head {
  display: flex;
  margin-block: 18px;
  align-items: center;
}

.title {
  font-size: 2rem;
  letter-spacing: .1em;
  text-transform: uppercase;
  justify-self: center;
  margin-block: 0;
  margin-left: auto;
}

.rightBlock {
}
